* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #6e9b91;
  --green-300: #b84e4c;
  --orange-500: #;

  --gray: #4a4a4a;

  --background: #f5f5f5;
  --white: #ffffff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  min-height: 500px;
  margin: 1rem;

  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;

  z-index: 999;
}

.react-modal-video-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  backdrop-filter: blur(10px);
}

.react-modal-video-content {
  width: 100%;
  max-width: 700px;
  max-height: 500px;
  margin: 1rem;

  background: var(--background);
  position: relative;
  border-radius: 0.25rem;

  z-index: 999;

  iframe {
    width: 100%;
    height: 415px;
  }
}
