.container {
  padding: 0 2rem;
  max-width: 600px;
  margin: 3rem auto;

  .separator {
    margin: 4rem 0;
    display: flex;
    justify-content: center;

    > svg {
      font-size: 1.5rem;
      color: var(--gray);
      opacity: 0.4;
    }
  }

  .carrosel {
    .carroselSingle {
      width: 100%;
      height: 17rem;
      background: var(--white);

      img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.4);
      }
    }
  }

  footer {
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray);

    span {
      opacity: 0.6;
      font-weight: 500;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image {
  width: 100%;
  max-height: 380px;
  border-radius: 20px;
}

.button {
  width: 100%;
  height: 4.5rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;

  padding: 0 1.5rem;
  color: var(--white);

  background: linear-gradient(90deg, #6e9b91 -6.91%, #4ca793 129.67%);
  transition: filter 0.2s;
  font-size: 1.05rem;
  font-weight: 500;

  @media (max-width: 900px) {
    justify-content: center;
  }

  & + button {
    margin-top: 1.5rem;
  }

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    font-size: 1.5rem;
  }
}
